<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
                <div class="block-dark block1">1</div>
                <div class="block-dark block2">2</div>
                <div class="block-dark block3">
                    <p>+ 7 (499) 346-21-31</p>
                    <p><a href = "mailto: manager@pixelplus.ru">manager@pixelplus.ru</a></p>
                    <p><a href="www.pixelplus.ru">www.pixelplus.ru</a></p>
                </div>   
        </div>
        <div class="main">
            <div class="sidebar">
                <div class="block-dark block4">
                    <h2>Создание сайтов</h2>
                    <p>
                        <a href="">Изготовление сайтов "под ключ"</a>
                    </p>
                    <p>
                        <a href="">Как работаем</a>
                    </p>
                    <p>
                        <a href="">Интеграция с 1С</a>
                    </p>
                    <p>
                        <a href="">Поддержка сайтов</a>
                    </p>
                    <p>
                        <a href="">Создание сайтов на Битрикс</a>
                    </p>
                    <p>
                        <a href="">Модули Битрикс</a>
                    </p>
                    <p>
                        <a href="">Купить Битрикс</a>
                    </p>
                    <p>
                        <a href="">Дизайн сайтов</a>
                    </p>
                    <p>
                        <a href="">Редизайн сайтов</a>
                    </p>
                    <p>
                        <a href="">Интернет-магазин</a>
                    </p>
                    <p>
                        <a href="">Создание логотипов</a>
                    </p>
                </div>
                <div class="block-dark block7">7</div>
            </div>   

            <div class="content">
                <div class="block-light block5">
                    <h2>PSD файл с макетом. Макет разбит по слоям и сгрупиирован по папкам:</h2>
                    <br>
                    <ul>
                        <li><b>number</b> - нумерация блоков (номера блоков верстать не нужно)</li>
                        <li><b>text</b> - текстові блоки (шрифт Arial, розмір 14 пікселів, міжрядковий відступ 22 пікселі)</li>
                        <li><b>head</b> - шапкаа сайту</li>
                        <li><b>content</b> - контентная область, которая в свою очередь делится на <b>left</b> и <b>center</b></li>
                    </ul>
                    <br>
                    <p>Текстовое описание задания и требования</p>
                </div>
                <div class="block6">
                    <div class="block-light block61">6</div>
                    <div class="block-light block61">6</div>
                    <div class="block-light block61">6</div>
                    <div class="block-light block61">6</div>
                    <div class="block-light block61">6</div>
                    <div class="block-light block61">6</div>
                    <div class="block-light block61">6</div>
                </div>
                <div class="block-light block8">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab voluptate deserunt, soluta quasi vitae dolores distinctio tenetur id sunt possimus, minus nihil quod. Ducimus vel nemo doloribus soluta quam quos dignissimos sequi, tenetur modi quibusdam at dolorem dicta totam unde officia a eaque assumenda, cum atque tempora natus reprehenderit hic.</p>

                </div>
                <div class="block-light block9">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolor unde eaque autem praesentium corporis excepturi minus quod neque alias, expedita ipsam laborum. Officiis fuga optio facere, nihil repellendus sit?</p>
                </div>
                </div>
        </div>
        </div>
        <div class="footer">
                <div class="block-dark block10">
                    <p>Пункт 01</p>
                    <p>Пункт 02</p>
                    <p>Пункт 03</p>
                    <p>Пункт 04</p>
                    <p>Пункт 05</p>
                    <p>Пункт 06</p>
                    <p>Пункт 07</p>
                    <p>Пункт 08</p>
                    <p>Пункт 09</p>
                    <p>Пункт 10</p>
                    <p>Пункт 11</p>
                    <p>Пункт 12</p>
                    <p>Пункт 13</p>
                    <p>Пункт 14</p>
                </div>
                <div class="block-dark block11">
                    <ul>
                        <li>Поисковое продвижение сайтов</li>
                        <li>Тариф "Старт"</li>
                        <li>Тариф "Продвижение Плюс"</li>
                        <li>Тариф "Интернет-магазин"</li>
                        <li>Тариф "Ексклюзив"</li>
                        <li>Тариф "Контекст + SEO"</li>
                        <li>Тариф "Регион"</li>
                    </ul>
                </div>
                <div class="block-dark block12">12</div>
                <div class="block-dark block13">13</div>
        </div>

    </div>
</body>
</html>